:root {
  --darker-grey: rgb(32, 34, 37);
  --dark-grey: #282c34;
  --light-grey: #414855;
  --lighter-grey: #dcddde;

  //tier colours
  --tier-red: #ff7f7f;
  --tier-red-orange: #ffbf7f;
  --tier-orange: #ffdf7e;
  --tier-yellow: #fdff7f;
  --tier-yellow-green: #bfff7e;
  --tier-green: #7eff7e;
  --tier-cyan: #7effff;
  --tier-blue: #7fbfff;
  --tier-dark-blue: #7f7fff;
  --tier-pink: #ff7fff;
  --tier-purple: #bf7fbf;
  --tier-black: #3b3b3b;
  --tier-dark-grey: #858585;
  --tier-grey: #cfcfcf;
  --tier-white: #f7f7f7;

  --image-tile-size: 70px;
  @media only screen and (min-width: 768px) {
    --image-tile-size: 100px;
  }
}

#app {
  background-color: var(--light-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  //color: white;
  color: var(--lighter-grey);
  text-align: center;
  min-width: 500;
}

#appContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.pageRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 12px;
  //padding: 30px;
  background-color: var(--light-grey);
}

@media only screen and (min-width: 768px) {
  .pageRoot {
    margin: 30px;
  }
}
