:root {
  --darker-grey: rgb(32, 34, 37);
  --dark-grey: #282c34;
  --light-grey: #414855;
  --lighter-grey: #dcddde;

  --border-blue: rgb(33 49 68 / 90%);
  --secondary-blue:rgb(33 49 68 / 50%);
  --hint: #D1D5DB;

  //tier colours
  --tier-red: #ff7f7f;
  --tier-red-orange: #ffbf7f;
  --tier-orange: #ffdf7e;
  --tier-yellow: #fdff7f;
  --tier-yellow-green: #bfff7e;
  --tier-green: #7eff7e;
  --tier-cyan: #7effff;
  --tier-blue: #7fbfff;
  --tier-dark-blue: #7f7fff;
  --tier-pink: #ff7fff;
  --tier-purple: #bf7fbf;
  --tier-black: #3b3b3b;
  --tier-dark-grey: #858585;
  --tier-grey: #cfcfcf;
  --tier-white: #f7f7f7;

  --image-tile-size: 70px;
  @media only screen and (min-width: 768px) {
    --image-tile-size: 100px;
  }
}

#app {
  background-color: var(--light-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  //color: white;
  // color: var(--lighter-grey);
  text-align: center;
  min-width: 300px;
}

#appContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

// .App-link {
//   color: #61dafb;
// }

.pageRoot {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 4px;
  // background-color: #1A1F2C;
  background: rgb(26,32,45);
  background: linear-gradient(90deg, rgba(26,32,45,1) 0%, rgba(31,39,53,1) 50%, rgba(35,47,63,1) 100%);

  //padding: 30px;
  // background-color: var(--light-grey);

}

@media only screen and (min-width: 768px) {
  .pageRoot {
    padding: 20px;
  }
}
